body{
font-family: Arial;
background:#f5f7fb;
display:flex;
justify-content:center;
align-items:center;
height:100vh;
}

.container{
background:white;
padding:30px;
border-radius:10px;
width:300px;
box-shadow:0 0 10px rgba(0,0,0,0.1);
}

h2{
text-align:center;
}

input{
width:100%;
padding:10px;
margin-top:10px;
border:1px solid #ccc;
border-radius:5px;
}

button{
margin-top:15px;
width:100%;
padding:10px;
background:#4F46E5;
color:white;
border:none;
border-radius:5px;
cursor:pointer;
}

button:hover{
background:#3730a3;
}

#message{
margin-top:10px;
text-align:center;
}